<p><%= @resource.email %> 様</p>

<p>パスワードの再設定リクエストを受け付けました。以下のリンクからパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストに心当たりがない場合は、このメールを無視してください。<br>
リンクをクリックしない限り、パスワードは変更されません。</p>