<p><%= @resource.email %> 様</p>

<p>ログイン試行回数が規定回数を超えたため、アカウントがロックされました。</p>

<p>以下のリンクをクリックしてアカウントのロックを解除してください。</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>