<div class="dashboard-container">
  <%= render 'dashboard/shared/menu' %>

  <div class="dashboard-form-card card">
    <div class="subtitle">
      <h2>店舗登録</h2>
    </div>
    <%= render 'form', store: @store %>
  </div>
</div>