<footer class="main-footer">
  <div class="copyright">
    <p>&copy; 2026 OnLiPos Project. All rights reserved.</p>
  </div>
  <div class="footer-links">
    <%= link_to "利用規約", :terms %>
  </div>
</footer>