<div class="dashboard-container">
  <%= render 'dashboard/shared/menu' %>

  <div class="dashboard-form-card card">
    <div class="subtitle">
      <h2>商品登録</h2>
    </div>
    <%= render 'form', product: @product %>
  </div>
</div>